@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-aldy: var(--aldy);
	--color-aldy-secondary: var(--aldy-secondary);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

:root {
	/* --background: oklch(0.9804 0.0042 236.4958);
	--foreground: oklch(0.3211 0 0); */
	--background: oklch(0.2265 0.0186 266.1546);
	--foreground: oklch(0.9219 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.3211 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.3211 0 0);
	--primary: oklch(0.4365 0.1509 256.72);
	--primary-foreground: oklch(1 0 0);
	--aldy: oklch(0.4365 0.1509 256.72);
	--aldy-secondary: oklch(0.8481 0.1719 85.79);
	--secondary: oklch(84.805% 0.17195 85.812);
	--secondary-foreground: oklch(0 0 0);
	--muted: oklch(0.4644 0 0);
	--muted-foreground: oklch(0.5382 0 0);
	--accent: oklch(0.9347 0.0345 241.4504);
	--accent-foreground: oklch(0 0 0);
	--destructive: oklch(0.6683 0.2192 22.1231);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.8699 0 0);
	--input: oklch(0.8699 0 0);
	--ring: oklch(0.4365 0.1509 256.72);
	--chart-1: oklch(0.8677 0.0735 7.0855);
	--chart-2: oklch(0.8312 0.1093 227.3037);
	--chart-3: oklch(0.968 0.211 109.7692);
	--chart-4: oklch(0.8027 0.1355 349.2347);
	--chart-5: oklch(0.8157 0.2732 142.5532);
	--sidebar: oklch(0.9804 0.0042 236.4958);
	--sidebar-foreground: oklch(0.3211 0 0);
	--sidebar-primary: oklch(0.7615 0.1421 20.9413);
	--sidebar-primary-foreground: oklch(0 0 0);
	--sidebar-accent: oklch(0.9347 0.0345 241.4504);
	--sidebar-accent-foreground: oklch(0 0 0);
	--sidebar-border: oklch(0.8699 0 0);
	--sidebar-ring: oklch(0.8677 0.0735 7.0855);
	--font-sans: Poppins, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono: Roboto Mono, monospace;
	--radius: 0.5rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	--spacing: 0.22rem;
}
.dark {
	--background: oklch(0.2265 0.0186 266.1546);
	--foreground: oklch(0.9219 0 0);
	--card: oklch(0.3231 0.0102 216.7877);
	--card-foreground: oklch(0.9219 0 0);
	--popover: oklch(0.3231 0.0102 216.7877);
	--popover-foreground: oklch(0.9219 0 0);
	--primary: oklch(0.4365 0.1509 256.72);
	--primary-foreground: oklch(0 0 0);
	--aldy: oklch(0.4365 0.1509 256.72);
	--aldy-secondary: oklch(0.8481 0.1719 85.79);
	--secondary: oklch(0.8481 0.1719 85.79);
	--secondary-foreground: oklch(0 0 0);
	--muted-foreground: oklch(0.7155 0 0);
	--accent: lch(39.61 36.74 233.61);
	--accent-foreground: oklch(0 0 0);
	--destructive: oklch(0.6496 0.2362 26.9032);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3867 0 0);
	--input: oklch(0.3867 0 0);
	--ring: oklch(1 0 0);
	--chart-1: oklch(0.8027 0.1355 349.2347);
	--chart-2: oklch(0.8157 0.2732 142.5532);
	--chart-3: oklch(0.8312 0.1093 227.3037);
	--chart-4: oklch(0.968 0.211 109.7692);
	--chart-5: oklch(0.8652 0.1768 90.3816);
	--sidebar: oklch(0.2265 0.0186 266.1546);
	--sidebar-foreground: oklch(0.9219 0 0);
	--sidebar-primary: oklch(0.8027 0.1355 349.2347);
	--sidebar-primary-foreground: oklch(0 0 0);
	--sidebar-accent: lch(39.61 36.74 233.61);
	--sidebar-accent-foreground: oklch(0 0 0);
	--sidebar-border: oklch(0.3867 0 0);
	--sidebar-ring: oklch(0.8027 0.1355 349.2347);
	--font-sans: Poppins, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono: Roboto Mono, monospace;
	--radius: 0.5rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground m-0 p-0;
	}
}
